<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<body>
    <div class='bg'>
        <!--Carousel Wrapper-->
        <div id="carousel-example-1z" class="carousel slide carousel-fade animated fadeIn slow" data-ride="carousel">
                <!--Indicators-->
                <!-- Allows user to click left or right to display new image -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-1z" data-slide-to="1"></li>
                    <li data-target="#carousel-example-1z" data-slide-to="2"></li>
                </ol>
                <!--/.Indicators-->
                
                <!--Slides-->
                <!-- Pictures in slide -->
                <div class="carousel-inner" role="listbox">

                    <!--First slide-->
                    <!-- jarallax creates a parallax effect on images-->
                    <!-- Basically the dynamically image moves as the user scrolls -->
                    <!--Hieght: 100vh makes image always load to users full screen-->
                    <div class="carousel-item active view jarallax" style="height: 100vh;">
                        <img id='imageOne' class="jarallax-img" src="weddingImages/Compressed/botanicalWide.jpg" alt="">
                        <!-- Creates a purple/pink gradient over paralax image -->
                        <div class="mask img-gradient">
                            <div class="container flex-center text-center">
                            <!--Announcment container -->
                                <div class="row mt-5">
                                    <div class="col-md-12 mb-3 announcment-container smooth-scroll">
                                        <img id='top-landing-image' class='mx-auto wow rotateInDownLeft' src='weddingImages/extras/shap-1.png' data-wow-delay="0.4s"></img>
                                        <h1 id='announcment-text' class="h1-reponsive white-text mb-3 wow fadeIn" data-wow-delay="0.6s"><strong>Elam & Ramos </strong></h1>
                                        <h1 id='announcment-text' class="h1-reponsive white-text wow fadeIn" data-wow-delay="0.6s"><strong>Wedding </strong></h1>
                                        <img id='bottom-landing-image' class='mx-auto wow rotateInUpRight' src='weddingImages/extras/shap-2.png' data-wow-delay="0.4s"></img>
                                        <a href='#bride_groom'class="btn btn-outline-white infoButton wow fadeIn" data-wow-delay="0.8s">More Information<i class="fas fa-angle-down ml-2" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/First slide-->

                    <!--Second slide-->
                    <!-- Repeat of first slide-->
                    <div class="carousel-item view jarallax" style="height: 100vh;">
                        <img id='imageTwo' class="jarallax-img" src="weddingImages/Compressed/proposalCropped.jpg" alt="">
                        <div class="mask img-gradient">
                            <div class="container flex-center text-center">
                                <div class="row mt-5">
                                    <div class="col-md-12 mb-3 announcment-container smooth-scroll">
                                        <img class='mx-auto' src='weddingImages/extras/shap-1.png'></img>
                                        <h1 id='announcment-text' class="h1-reponsive white-text mb-3" ><strong>Elam & Ramos </strong></h1>
                                        <h1 id='announcment-text' class="h1-reponsive white-text " ><strong>Wedding </strong></h1>
                                        <img class='mx-auto' src='weddingImages/extras/shap-2.png'></img>
                                        <a href='#bride_groom'class="btn btn-outline-white infoButton">More Information <i class="fas fa-angle-down ml-2" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <!--/Second slide-->

                <!--Third slide-->
                <!-- Repeat of first slide-->
                    <div class="carousel-item view jarallax" style="height: 100vh;">
                        <img id='imageThree' class="jarallax-img" src="weddingImages/Compressed/sarahFavoriteCropped.jpg" alt="">
                        <div class="mask img-gradient">
                            <div class="container flex-center text-center">
                                <div class="row mt-5">
                                    <div class="col-md-12 mb-3 announcment-container smooth-scroll">
                                        <img class='mx-auto' src='weddingImages/extras/shap-1.png'></img>
                                        <h1 id='announcment-text' class="h1-reponsive white-text mb-3" ><strong>Elam & Ramos </strong></h1>
                                        <h1 id='announcment-text' class="h1-reponsive white-text" ><strong>Wedding </strong></h1>
                                        <img class='mx-auto' src='weddingImages/extras/shap-2.png'></img>
                                        <a href='#bride_groom'class="btn btn-outline-white infoButton">More Information <i class="fas fa-angle-down ml-2" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <!--/Third slide-->
                </div>
                <!--/.Slides-->

                <!--Controls-->
                <!--Controls on bottom of pictures to control image selection-->
                <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                <!--/.Controls-->
            </div>
        <!--/.Carousel Wrapper-->
    </div>
    
    <section id='bride_groom'>
        <!-- Sprint warmth gradient gives pinkish gradient background color effect-->
        <div class='pt-5 pb-5 spring-warmth-gradient'>
            <!-- Card that holds timeline and bride/groom pictures-->
            <div id='bride_groom-card' class='card text-center z-depth-5 col-10 mx-auto' style='height: 100%'>
                <!--Title-->
                <H1 class='sm-mb-5 wedding-text wedding-title-text'>Bride and Groom</H1>
                <!--Row holds both bride/groom pictures, ring image between them, and names beneath picture-->
                <div class='row'>
                    <!-- column has picture and name -->
                    <div class='col-12 col-md-5 mx-auto'>
                        <div>
                            <img src="weddingImages/SarahAboutCropped.jpg" alt="Avatar" class="md-avatar rounded-circle size-4 img-fluid wow fadeInLeft z-depth-2" data-wow-delay="0.1s">
                        </div>
                        <h2 class="h2-reponsive wedding-text">Sarah Lynn Ramos</h2>
                    </div>
                    <!--Heart and ring image-->
                    <div class='col-5 col-md-2 sm-mt-5 mb-5 mx-auto'>
                        <img id='ringHeart' src="weddingImages/extras/wedding-ring.svg" alt="Avatar" class="wow fadeIn img-fluid mb-" data-wow-delay="0.2s">   
                    </div>
                    <!-- column has picture and name -->
                    <div class='col-12 col-md-5 mx-auto'>
                        <div>
                            <img src="/weddingImages/AlexAboutCropped.jpg" alt="Avatar" class="md-avatar rounded-circle size-4 img-fluid wow fadeInRight z-depth-2" data-wow-delay="0.2s">
                        </div>
                        <h2 class="h2-reponsive wedding-text">James Alexander Elam</h2> 
                    </div>
                </div>

                <!--Timeline section-->
                <!--carousel with three images lined up-->
                <!--Currently using stock images-->
                <div class='mx-auto'>
                    <H1 class='wedding-text text-center wedding-title-text'>Our Timeline</H1>
                    <H2 class='wedding-text m-0'>6 years and counting</H2>
                    <!--Carousel Wrapper-->
                    <div id="multi-item-example" class="carousel slide carousel-multi-item" >
                        <!--Controls-->
                        <div class="controls-top">
                            <a class="btn-floating grey darken-2" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
                            <a class="btn-floating grey darken-2" href="#multi-item-example" data-slide="next"><i class="fas fa-chevron-right"></i></a>
                        </div>
                        <!--/.Controls-->
                    
                        <!--Indicators-->
                        <ol class="carousel-indicators">
                            <li data-target="#multi-item-example" data-slide-to="0" class="active grey darken-2"></li>
                            <li data-target="#multi-item-example" data-slide-to="1" class='grey darken-1'></li>
                            <li data-target="#multi-item-example" data-slide-to="2" class='grey darken-1'></li>
                        </ol>
                        <!--/.Indicators-->
                    
                        <!--Slides-->
                        <!-- Change 'card-img-top' on each card to complete timeline-->
                        <div class="carousel-inner" role="listbox">
                    
                            <!--First slide-->
                            <div class="carousel-item active">
                                <div class="col-md-4">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                                        alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Card title</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                                        alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Card title</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
                                        alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Card title</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/.First slide-->
                        
                            <!--Second slide-->
                            <div class="carousel-item">
                                <div class="col-md-4">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
                                        alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Card title</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg"
                                        alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Card title</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg"
                                        alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Card title</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/.Second slide-->
                            <!--Third slide-->
                            <div class="carousel-item">
                                <div class="col-md-4">
                                <div class="card mb-2">
                                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(53).jpg"
                                    alt="Card image cap">
                                    <div class="card-body">
                                        <h4 class="card-title">Card title</h4>
                                    </div>
                                </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(45).jpg"
                                        alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Card title</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(51).jpg"
                                        alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Card title</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/.Third slide-->
                        </div>
                        <!--/.Slides-->
                    </div>
                    <!--/.Carousel Wrapper-->
                </div>
            </div>
        </div>
    </section>

    <section id='date_time'>
        <!-- Parallax effect like the landing image section-->
        <div class="view  jarallax-date">
          <img id='imageFour' class="jarallax-img" src="weddingImages/Compressed/sarahRingCropped.jpg" alt="">
          <div class="mask img-gradient">
              <div class="container h-100 flex-center text-center">
                    <div class="row">
                        <div class="col-md-12 announcment-container smooth-scroll">
                            <img id='dateTopImage' class='mx-auto mt-3' src='weddingImages/extras/shap-1.png'></img>
                            <h1 class="h1-reponsive white-text mb-1 countdown-text">Save the Date</h1>
                            <h1 class="h1-reponsive white-text mb-1 countdown-text">June 6th, 2020</h1>
                            <!--Uses javascript below to display time until wedding-->
                            <!--Set date in the script below to change the date-->
                            <h1 id='countdown' class="h1-reponsive white-text mb-2 countdown-text"></h1>
                            <img id='dateBottomImage' class='mx-auto mb-3' src='weddingImages/extras/shap-2.png'></img>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id='location'>
        <div class='wedding-container mx-auto pt-5'>
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-5 col-xl-4 mb-4 order-md-first order-last">
                    <div class="card z-depth-3">
                        <div class="card-body">
                            <div class="form-header grey darken-2">
                                <h3>RSVP</h3>
                            </div>
                            <!--Placeholder div for when there is an error-->
                            <!-- Jquery will fill this with error message-->
                            <div id='errorAlert'>
                            </div>
                            <!--Form submit for attendance-->
                            <form action="/rsvp/submit" id = "rsvp-form">
                                <div class="md-form">
                                    <i class="fas fa-user prefix grey-text"></i>
                                    <input type="text" id="form-name" class="form-control" required>
                                    <label for="form-name">First & Last Name*</label>
                                </div>
                                <div class="md-form">
                                    <i class="fas fa-envelope prefix grey-text"></i>
                                    <input type="text" id="form-email" class="form-control">
                                    <label for="form-email">Your email</label>
                                </div>
                                <div class="md-form">
                                    <i class="fas fa-list-ol prefix grey-text"></i>
                                    <input type="text" id="form-guests" class="form-control" required>
                                    <label for="form-guests">Number of Guests*</label>
                                </div>
                                <div class="md-form">
                                    <i class="fas fa-music prefix grey-text"></i>
                                    <input type="text" id="form-song" class="form-control">
                                    <label for="form-song">Favorite Song</label>
                                </div>
                                <div class="md-form">
                                    <i class="fas fa-pencil-alt prefix grey-text"></i>
                                    <textarea id="form-comments" class="form-control md-textarea" rows="2"></textarea>
                                    <label for="form-comments">Additional Comments</label>
                                </div>
                                <div id='submitButton' class="text-center mt-4">
                                    <button type="submit" class="btn btn-red">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--Grid column-->
                
            
                <!--Grid column-->
                <div class="col-lg-7 col-xl-8">
                    <!--Google map-->
                    <div id="map-container-google-11" class="z-depth-3 map-container-6" style="height: 400px">
                        <iframe src="https://maps.google.com/maps?q=oak%20lane%20oregon%20il&t=k&z=17&ie=UTF8&iwloc=&output=embed"
                        frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
            
                    <br>
                    <!--Buttons-->
                    <div class="row text-center pb-5">
                        <div class="col-6 col-md-4">
                            <a class="btn-floating grey darken-2"><i class="fas fa-calendar-alt"></i></a>
                            <p>June 6th, 2020<br>10:00 AM</p>
                        </div>
                        <div class="col-6 col-md-4">
                                <a class="btn-floating grey darken-2"><i class="fas fa-map-marker-alt"></i></a>
                                <p>3261 Daysville Rd,<br> Oregon, IL 61061</p>
                            </div>
                        <div class="col-md-4">
                            <a class="btn-floating grey darken-2"><i class="fas fa-envelope"></i></a>
                            <p>Sarahramos766@gmail.com<br>James@alexelam.dev</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <% include ../partials/scripts %>
    <script>
        $("#rsvp-form").submit(function(e) {

            e.preventDefault(); // avoid to execute the actual submit of the form.

            var name = $('#form-name').val();
            var email = $('#form-email').val();
            var guests = $('#form-guests').val();
            var song = $('#form-song').val();
            var comments = $('#form-comments').val();

            var url = $(this).attr('action');

            $.post( url,
                    {name:name, 
                    email:email, 
                    guests:guests,
                    song: song,
                    comments: comments})
                .done(function(result){
                    var result = jQuery.parseJSON(result)

                    if(result.status == 200){
                        document.getElementById("submitButton").innerHTML = 'Form Submitted!'
                        $("#rsvp-form")[0].reset();
                    } else{
                        $('#errorAlert').alert()
                        document.getElementById("errorAlert").innerHTML = "<div class='alert alert-danger' role='alert'>Error Submitting Form<button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div>";
                    }
                })

        });
    </script>

</body>
</html>






