html,
body,
header,
.jarallax {
    height: 700px;
    -webkit-transform: translate3d(0,0,0);
}

body, html {
    height: 100%;
    background-color: #FAD0C5;
}
.wow {
    visibility: hidden;
}

/* Cursive Font */
.wedding-text{
    font-family: 'Parisienne', cursive;
    font-weight: bolder;
    margin: 20px;
}

/* Bold Serif Font */
#announcment-text,  #countdown, .countdown-text{
    letter-spacing: 4px;
    font-family: 'Lora', serif;
}

.infoButton{
    margin-top: 90px;
}


/* BackGround Gradient Color */
.img-gradient{
position:relative;
display:inline-block;
}

.img-gradient {
content:'';
position:absolute;
left:0; top:0;
width:100%; height:100%;
display:inline-block;
background: -moz-linear-gradient(top, rgba(0,47,75,0.5) 0%, #db7da991 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(219, 125, 169, 0.568)), color-stop(100%,rgba(0,47,75,0.5))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(0,47,75,0.5) 0%,rgba(219, 125, 169, 0.568) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(0,47,75,0.5) 0%,rgba(219, 125, 169, 0.568) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(0,47,75,0.5) 0%,rgba(219, 125, 169, 0.568) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(0,47,75,0.5) 0%,rgba(219, 125, 169, 0.568) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
.img-gradient img{
display:block;
}
/* End of BackGround Gradient Color */

/* BRIDE AND GROOM SECTION */
#bride_groom-card{
    background-image: url("https://previews.123rf.com/images/dgemma/dgemma1405/dgemma140500085/28462128-abstract-seamless-floral-pattern-contour-elegant-wedding-background.jpg");
}
/* Ring Icon on Bride and Groom Card */
#ringHeart{
    max-width: 160px;
    max-height: 160px;
}
/* End of Ring Icon on Bride and Groom Card */
/* END OF BRIDE AND GROOM SECTION */

/* Map of Wedding on RSVP Section */
.map-container-6{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-container-6 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
/* End of Map of Wedding on RSVP Section */

/* Parallax Effect */
@media (max-width: 450px) {
    .btn-floating {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (min-width: 560px) and (max-width: 650px) {
    header .jarallax h5 {
    margin-bottom: 1.5rem !important;
    }
}
@media (max-width: 740px) {
    html,
    body,
    header,
    .jarallax {
    height: 100vh;
    }
    
}
@media (min-width: 768px) {

}
@media (min-width: 800px) and (max-width: 850px) {
    html,
    body,
    header,
    .jarallax {
    height: 100vh;
    }

}
/* End of Parallax Effect */

@media (min-width: 1px) {
    .announcment-container img{
        width: 85%;
    }
    #announcment-text{
        font-size: 36px;
    }
    .md-avatar.size-4 {
        width: 40vw;
        height: 100%;
    }
    .aboutUs H1{
        font-size: 10vw
    }
    .aboutUs H2{
        font-size: 6.5vw
    }
    .wedding-title-text{
        font-size: 15vw;
        margin: 10px 0px 0px 0px;

    }
    .wedding-container{
        height: 50vh;
        width: 90vw;
    }
    #imageOne{
        content:url("../weddingImages/Compressed/botanicalwideSmall.jpg");
    }
    #imageTwo{
        content:url("../weddingImages/Compressed/proposal.jpg");
    }
    #imageThree{
        content:url("../weddingImages/Compressed/sarahFavorite.jpg");
    }
    .jarallax-date{
        height: 50vh !important;
    }
    #dateTopImage{
        width:75vw
    }
    #dateBottomImage{
        width:75vw
    }
    .countdown-text{
        font-size: 8.5vw;
    }
    #countdown{
        font-size: 6.5vw;
    }
}

@media (min-width: 768px) {
    .announcment-container img{
        width: 95%;
    }
    #announcment-text{
        font-size: 48px;
    }
    .md-avatar.size-4 {
        width: 200px;
        height: 200px;
    }
    .aboutUs H1{
        font-size: 7.5vw
    }
    .aboutUs H2{
        font-size: 2.75vw
    }
    .wedding-title-text{
        font-size: 5vw
    }
    .wedding-container{
        height: 50vh;
        width: 75vw;
        margin-bottom: 150px;
    }
    .jarallax-date{
        height: 50vh !important;
    }
    #imageOne{
        content:url("../weddingImages/Compressed/botanicalWide.jpg");
    }
    #imageTwo{
        content:url("../weddingImages/Compressed/proposalCropped.jpg");
    }
    #imageThree{
        content:url("../weddingImages/Compressed/sarahFavoriteCropped.jpg");
    }
    #dateTopImage{
        width:85%
    }
    #dateBottomImage{
        width:85%
    }
    .countdown-text{
        font-size: 60px
    }
    #countdown{
        font-size: 36px;
    }
}

@media (min-width: 992px) {

    .announcment-container img{
        width: 100%;
    }
    .md-avatar.size-4 {
        width: 240px;
        height: 240px;
    }
    #announcment-text{
        font-size: 60px;
    }
    #dateTopImage{
        width:100%
    }
    #dateBottomImage{
        width:100%
    }
    .countdown-text{
        font-size: 48px
    }
    #countdown{
        font-size: 32px;
    }
    
} 

@media (min-width: 1200px) {

    .announcment-container img{
        width: 100%;
    }
    .aboutUs H1{
        font-size: 5.5vw
    }
    .aboutUs H2{
        font-size: 2.5vw
    }
    #announcment-text{
        font-size: 60px;
    }
    #dateTopImage{
        width:100%
    }
    #dateBottomImage{
        width:100%
    }
    .countdown-text{
        font-size: 60px
    }
    #countdown{
        font-size: 48px;
    }
}
@media (min-width: 1600px) {

    .announcment-container img{
        width: 100%;
    }
    #announcment-text{
        font-size: 60px;
    }
    #dateTopImage{
        width:100%
    }
    #dateBottomImage{
        width:100%
    }
    .countdown-text{
        font-size: 60px
    }
    #countdown{
        font-size: 48px;
    }
}










